<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log.startupclear" value="1" />
    <add key="log.info" value="log\info.log" />
    <add key="log.debug" value="log\debug.log" />
    <add key="log.warn" value="log\warn.log" />
    <add key="log.error" value="log\error.log" />
    <add key="sqlite.path" value="db.sqlite3" />
    <add key="root.debug" value="true" />
    <add key="root.userCmdIdentityIndex" value="65536" />
    <add key="moduleName" value="try Module" />
    <add key="proclru.maxAge" value="0" />
    <add key="proclru.max" value="0" />
    <add key="jslru.type" value="sqlite" />
    <add key="jslru.maxAge" value="20" />
    <add key="jslru.max" value="8000" />
    <add key="proclru.type" value="sqlite" />
    <add key="resource.path" value="resourceFile\" />
    <add key="treasurebox.getsql" value="打开宝箱.查询.sql" />
    <add key="treasurebox.setsql" value="打开宝箱.执行.随机.sql" />
    <add key="sqlvaluecache.guid" value="027B5D0821F8440BA808E19D4070E47A" />
    <add key="sqlprocmapcache.guid" value="27C4BEA9967E4084BD67C8F78A5E71C3" />
    <add key="sqlselectcache.guid" value="3BB6B7691FE74844A99CEC1777D451EC" />
    <add key="pointmanagentcache.guid" value="492E4B3B0C144858A79E94EA810D0A60" />
    <add key="debug.guid" value="48B0FD0BF838470C8B497DAA0A10D55F" />
    <add key="executeall.guid" value="71E5D52FA1F845948CDEAC5E7B135FD4" />
    <add key="jsmapcache.guid" value="4F3D87060FBD428B8849F4E706C0E82B" />
    <add key="lrucache.guid" value="FFCDEA492F3F4E4BB7B9492F16922B6A" />
    <add key="resourceCache.guid" value="8D090C7BA96F4D129CC43C9EB06FBCC7" />
    <add key="sqlvaluecache.name" value="重新载入SQLValue缓存" />
    <add key="sqlprocmapcache.name" value="重新载入SQLProcMap缓存" />
    <add key="sqlselectcache.name" value="重新载入SQLSelect缓存" />
    <add key="pointmanagentcache.name" value="重新载入PointManagent" />
    <add key="debug.name" value="设置Debug状态" />
    <add key="executeall.name" value="重新载入所有缓存" />
    <add key="resourceCache.name" value="重新载入资源缓存" />
    <add key="lrucache.name" value="重新载入LRU缓存" />
    <add key="clearlog.name" value="清空Log" />
    <add key="envirDir" value="D:\MirServer\Mir200\Envir\" />
    <add key="baseDir" value="D:/MirServer/Mir200/Plug/MirPlugin/" />
    <add key="xmlFile" value="mirplugin.config" />
    <add key="clearlog.guid" value="38c473b422e84242afc79d76d9f68213" />
    <add key="sp_UserItemEquipLength" value="519" />
    <add key="sp_UserItemEquipSize" value="48" />
    <add key="sp_UserItemEquipIndex" value="4" />
    <add key="sp_Item_NewValueOffset" value="105" />
    <add key="sp_Item_NewValueSize" value="21" />
    <add key="sp_Item_InlayOffset" value="171" />
    <add key="sp_Item_InlaySize" value="8" />
    <add key="sp_Item_CustomOffset" value="345" />
    <add key="sp_Item_CustomSize" value="10" />
  </appSettings>
</configuration>